$mainFontFamily: 'Poppins',
sans-serif;
$defaultFontSize: 16px;
$h1FontSize: 102px;
$h1FontColor: #ffffff;
$menuBackgroundColor: #fdfdff;
$navFontColor: #6f6f6f;
$navFontSize: 30px;
$navHoverFontColor: #e43258;
$sectionNameFontColor: #000000;
$sectionNameFontSize: 42px;
$sectionFruitsBackgroundColor: #e6f8a4;
$informationBackgroundColor: #ffffff;
$informationFontColor: #000000;
$informationFontSize: 16px;
$informationFirstWordFontSize: 20px;
$strawberryColor: #dd4141;
$blueberryColor: #501cdd;
$lemonColor: #6cf072;
$sectionVegetablesBackgroundColor: #e6f8a4;