$mainFontFamily: 'Poppins',
sans-serif;
$defaultFontSize: 16px;
$h1FontSize: 102px;
$h1FontColor: #ffffff;
$menuBackgroundColor: #fdfdff;
$navFontColor: #6f6f6f;
$navFontSize: 30px;
$navHoverFontColor: #e43258;
$sectionNameFontColor: #000000;
$sectionNameFontSize: 42px;
$sectionFruitsBackgroundColor: #e6f8a4;
$informationBackgroundColor: #ffffff;
$informationFontColor: #000000;
$informationFontSize: 16px;
$informationFirstWordFontSize: 20px;
$strawberryColor: #dd4141;
$blueberryColor: #501cdd;
$lemonColor: #6cf072;
$sectionVegetablesBackgroundColor: #e6f8a4;
$barBackgroundColor: #b1b1b1;
$barValueBackgroundColor: #e60303;
$fruitColor: #ec3f20;
$vegetablesColor: #239c05;
$smallBox1BackgroundColor: #ec850e;
$smallBox2BackgroundColor: #5a3a1b;
$smallBox3BackgroundColor: #7e6555;
$smallBoxFontColor: #ffffff;
$saladsMainFontColor: #ffffff;
$sectionSaladsBackgroundColor: #e6f8a4;
$saladsCarrotColor: #fd7404;