$mainFontFamily: 'Poppins',
sans-serif;
$defaultFontSize: 16px;
$h1FontSize: 102px;
$h1FontColor: #ffffff;
$menuBackgroundColor: #fdfdff;
$navFontColor: #6f6f6f;
$navFontSize: 30px;
$navHoverFontColor: #e43258;
$sectionNameFontColor: #000000;
$sectionNameFontSize: 36px;
$sectionFruitsBackgroundColor: #e6f8a4;
$informationBackgroundColor: #ffffff;
$informationFontColor: #000000;