/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-name h2 {
  margin: 0;
  font-weight: 700;
  padding: 32px 0;
  font-size: 42px;
  color: #000000;
}

body {
  /* ------------------------------- Buzz Out -------------------------------- */
  /* ------------------------------- Bounce In -------------------------------- */
  /* ------------------------------- Tobble To Bottom Right -------------------------------- */
  /* Grow */
}

@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

body .hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

body .hvr-buzz-out:hover,
body .hvr-buzz-out:focus,
body .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

body .hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

body .hvr-bounce-in:hover,
body .hvr-bounce-in:focus,
body .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

@-webkit-keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

body .hvr-wobble-to-bottom-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

body .hvr-wobble-to-bottom-right:hover,
body .hvr-wobble-to-bottom-right:focus,
body .hvr-wobble-to-bottom-right:active {
  -webkit-animation-name: hvr-wobble-to-bottom-right;
  animation-name: hvr-wobble-to-bottom-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

body .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

body .hvr-grow:hover,
body .hvr-grow:focus,
body .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fdfdff;
  width: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .logo a img {
  height: 75px;
  width: 75px;
  margin: 0 0 0 30px;
}

@media (max-width: 355px) {
  .menu .logo a img {
    height: 55px;
    width: 55px;
    margin-left: 5px;
  }
}

.menu .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .navigation nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .navigation nav ul li {
  margin-right: 60px;
}

@media (max-width: 520px) {
  .menu .navigation nav ul li {
    margin-right: 20px;
  }
}

.menu .navigation nav ul li a {
  text-decoration: none;
  color: #6f6f6f;
  padding: 12px 0;
  font-weight: 700;
  font-size: 30px;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu .navigation nav ul li a:hover {
  color: #e43258;
}

@media (max-width: 1000px) {
  .menu .navigation nav ul li a span {
    display: none;
  }
}

.menu .navigation nav ul li a img {
  display: inline-block;
  padding-left: 5px;
  height: 35px;
}

.driver {
  height: 360px;
  background-image: url(../img/driver-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 970px) {
  .driver {
    height: 260px;
  }
}

.driver .h1-background h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 102px;
  color: #ffffff;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.driver .h1-background h1 {
  font-size: 70px;
}

@media screen and (min-width: 320px) {
  .driver .h1-background h1 {
    font-size: calc(70px + 32 * ((100vw - 320px) / 820));
  }
}

@media screen and (min-width: 1140px) {
  .driver .h1-background h1 {
    font-size: 102px;
  }
}

@media (max-width: 970px) {
  .driver .h1-background h1 {
    top: 30%;
  }
}

@media (max-width: 970px) {
  .driver .h1-background h1 {
    top: 45%;
  }
}

.fruits {
  position: relative;
  background-color: #e6f8a4;
}

.fruits .container .fruits-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  .fruits .container .fruits-about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fruits .container .fruits-about .fruit-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 725px) {
  .fruits .container .fruits-about .fruit-photos {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fruits .container .fruits-about .fruit-photos .photo {
  height: 280px;
  width: 320px;
  position: relative;
}

.fruits .container .fruits-about .fruit-photos .photo:hover p {
  display: block;
}

.fruits .container .fruits-about .fruit-photos .photo:hover img {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.fruits .container .fruits-about .fruit-photos .photo p {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  display: none;
}

.fruits .container .fruits-about .fruit-photos .photo img {
  height: 100%;
  width: 100%;
}

.fruits .container .fruits-about .fruit-photos .information {
  background-color: #ffffff;
  width: 320px;
  padding: 18px;
}

.fruits .container .fruits-about .fruit-photos .information p {
  color: #000000;
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 16px;
}

.fruits .container .fruits-about .fruit-photos .information p .strawberry {
  font-size: 20px;
  color: #dd4141;
}

.fruits .container .fruits-about .fruit-photos .information p .blueberry {
  font-size: 20px;
  color: #501cdd;
}

.fruits .container .fruits-about .fruit-photos .information p .lemon {
  font-size: 20px;
  color: #6cf072;
}

.fruits .image-insert {
  position: relative;
  height: 280px;
}

.fruits .image-insert .image-background {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 905px) {
  .fruits .image-insert .image-background img {
    height: 400px;
    width: 700px;
  }
}

@media (max-width: 710px) {
  .fruits .image-insert .image-background img {
    margin-top: 70px;
    height: 300px;
    width: 500px;
  }
}

@media (max-width: 505px) {
  .fruits .image-insert .image-background img {
    margin-top: 155px;
    height: 180px;
    width: 300px;
  }
}

.about-fruits {
  height: 320px;
  margin-top: 190px;
  margin-bottom: 100px;
}

@media (max-width: 594px) {
  .about-fruits {
    margin-bottom: 150px;
  }
}

@media (max-width: 355px) {
  .about-fruits {
    margin-bottom: 200px;
  }
}

@media (max-width: 330px) {
  .about-fruits {
    margin-bottom: 280px;
  }
}

@media (max-width: 318px) {
  .about-fruits {
    margin-bottom: 340px;
  }
}

.about-fruits .container .box {
  display: block;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  background-color: #e6f8a4;
  border-radius: 15px;
}

.about-fruits .container .box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-fruits .container .box .title h2 {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 52px;
}

.about-fruits .container .box .title h2 i {
  color: #e5ff00;
  text-shadow: #aaa5a5 0px 0px 10px;
}

@media (max-width: 600px) {
  .about-fruits .container .box .title h2 i {
    font-size: 35px;
  }
}

.about-fruits .container .box .title h2 span:first-of-type {
  color: #1bec09;
}

.about-fruits .container .box .title h2 span:nth-of-type(2) {
  color: #808b14b0;
}

.about-fruits .container .box .title h2 span:nth-of-type(3) {
  color: #067e34;
}

.about-fruits .container .box .title h2 span:nth-of-type(4) {
  color: #f51a50;
}

.about-fruits .container .box .title h2 span:nth-of-type(5) {
  color: #e0d4d4;
  padding-right: 18px;
}

.about-fruits .container .box .title h2 #last {
  padding: 0;
}

.about-fruits .container .box p {
  margin: 0;
  padding: 12px 0;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 340px) {
  .about-fruits .container .box p {
    font-style: 12px;
  }
}

.vegetables {
  background-color: #e6f8a4;
}

.vegetables .container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  margin: 0 88px 80px 88px;
}

@media (max-width: 560px) {
  .vegetables .container .box {
    background-color: #e6f8a4;
  }
}

.vegetables .container .box img {
  margin: 0;
  padding: 12px;
  width: 320px;
  height: 280px;
}

.vegetables .container .about-vegetables {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  padding: 25px;
  margin: 0 -15px 80px -15px;
}

@media (max-width: 1111px) {
  .vegetables .container .about-vegetables {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.vegetables .container .about-vegetables .about-left {
  padding: 0 15px;
  margin-top: 20px;
}

@media (max-width: 1111px) {
  .vegetables .container .about-vegetables .about-left {
    margin-bottom: 10px;
  }
}

.vegetables .container .about-vegetables .about-left p {
  margin: 0;
  padding: 5px 0;
  font-size: 18px;
  letter-spacing: .8px;
  font-weight: 500;
}

@media (max-width: 1111px) {
  .vegetables .container .about-vegetables .about-left p {
    text-align: center;
  }
}

.vegetables .container .about-vegetables .about-left p span {
  font-size: 18px;
  letter-spacing: .8px;
  font-weight: 500;
}

.vegetables .container .about-vegetables .about-left p .fruit {
  color: #ec3f20;
}

.vegetables .container .about-vegetables .about-left p .vege {
  color: #239c05;
}

.vegetables .container .about-vegetables .about-right {
  width: 50%;
  padding: 0 15px;
}

@media (max-width: 550px) {
  .vegetables .container .about-vegetables .about-right {
    text-align: center;
  }
}

.vegetables .container .about-vegetables .about-right .statisctic .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px 0;
  letter-spacing: .8px;
  font-weight: 500;
}

@media (max-width: 550px) {
  .vegetables .container .about-vegetables .about-right .statisctic .name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.vegetables .container .about-vegetables .about-right .statisctic .bar {
  height: 6px;
  background-color: #b1b1b1;
}

.vegetables .container .about-vegetables .about-right .statisctic .bar span {
  height: 6px;
  background-color: #e60303;
  display: block;
}

.vegetables .container .big-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vegetables .container .big-box .small-box {
  width: calc(100%/3);
  padding: 0 30px;
  margin-bottom: 60px;
}

@media (max-width: 1100px) {
  .vegetables .container .big-box .small-box {
    width: 50%;
  }
}

@media (max-width: 740px) {
  .vegetables .container .big-box .small-box {
    width: 100%;
  }
}

.vegetables .container .big-box .small-box .box-bg {
  padding: 20px 50px;
  text-align: center;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.vegetables .container .big-box .small-box .box-bg h2 {
  color: #ffffff;
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 60px;
  font-weight: 500;
}

.vegetables .container .big-box .small-box .box-bg p {
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .8px;
}

.vegetables .container .big-box .small-box .first {
  background-color: #ec850e;
}

.vegetables .container .big-box .small-box .second {
  background-color: #5a3a1b;
}

.vegetables .container .big-box .small-box .third {
  background-color: #7e6555;
}

.salads {
  background-color: #e6f8a4;
}

.salads .container .box-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.salads .container .box-around .box-left {
  width: 50%;
}

@media (max-width: 850px) {
  .salads .container .box-around .box-left {
    width: 100%;
  }
}

.salads .container .box-around .box-left .box-bg {
  background-color: #69c4ee;
  text-align: center;
  padding: 20px 0 90px 0;
  margin: 0 -15px;
}

@media (max-width: 342px) {
  .salads .container .box-around .box-left .box-bg {
    background-color: #e6f8a4;
  }
}

.salads .container .box-around .box-left .box-bg h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding: 70px 0 15px 0;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: .8px;
}

.salads .container .box-around .box-left .box-bg img {
  width: 300px;
  height: 300px;
  margin: 60px 0 0 0;
}

.salads .container .box-around .box-left .box-bg p {
  margin: 0;
  font-style: italic;
}

.salads .container .box-around .box-right {
  width: 50%;
}

@media (max-width: 850px) {
  .salads .container .box-around .box-right {
    width: 100%;
  }
}

.salads .container .box-around .box-right .box-bg {
  text-align: center;
  margin: 0 -15px;
}

.salads .container .box-around .box-right .box-bg img {
  width: 300px;
  height: 300px;
  margin: 20px 0;
  border-radius: 50%;
}

.salads .container .box-around .box-right .box-bg p {
  margin: 0;
  padding: 0 100px;
  font-size: 18px;
  letter-spacing: .8px;
  font-weight: 400;
}

@media (max-width: 850px) {
  .salads .container .box-around .box-right .box-bg p {
    padding: 0 50px;
  }
}

@media (max-width: 442px) {
  .salads .container .box-around .box-right .box-bg p {
    padding: 0;
  }
}

@media (max-width: 850px) {
  .salads .container .box-around .box-right .box-bg .tag {
    margin-top: 40px;
  }
}

.footer .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-box .footer-box-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 15px;
}

.footer .footer-box .footer-box-inside .about-company {
  width: 300px;
  margin-right: 20px;
}

.footer .footer-box .footer-box-inside .about-company h2 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 30px;
}

.footer .footer-box .footer-box-inside .about-company p {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.footer .footer-box .footer-box-inside .about-contact {
  margin-right: 20px;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside h2 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 30px;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside a {
  text-decoration: none;
  margin-bottom: 10px;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside a span {
  font-weight: 300;
  color: #000000;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 16px;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside a span:hover {
  color: #e43258;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside a span i {
  color: #000000;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside a span .fa-map-marker-alt {
  margin-right: 10px;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside a span .fa-phone-alt {
  margin-right: 7px;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside a span .fa-envelope {
  margin-right: 7px;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside .links {
  margin-top: 10px;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside .links a i {
  font-size: 42px;
  margin-right: 12px;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside .links a .fa-facebook-square {
  color: #4267B2;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside .links a .fa-twitter-square {
  color: #1da1f2;
}

.footer .footer-box .footer-box-inside .about-contact .contact-inside .links a .fa-instagram {
  color: #e1306c;
  margin: 0;
}

.footer .footer-box .footer-box-inside .about-newsletter h2 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 30px;
}

.footer .footer-box .footer-box-inside .about-newsletter a {
  text-decoration: none;
}

.footer .footer-box .footer-box-inside .about-newsletter a span {
  font-weight: 300;
  color: #000000;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 16px;
}

.footer .footer-box .footer-box-inside .about-newsletter a span:hover {
  color: #e43258;
}

.footer .footer-box .footer-box-inside .about-newsletter a span i {
  color: #000000;
  margin-right: 7px;
}

.footer .author {
  margin-top: 5px;
  text-align: center;
}

.footer .author span {
  color: #000000;
  font-size: 16px;
}

.footer .author span i {
  font-size: 20px;
}

.footer .author span a {
  text-decoration: none;
  color: #dd4141;
}
