.about-fruits {
    height: 320px;
    margin-top: 190px;
    margin-bottom: 100px;



    @media (max-width:594px) {
        margin-bottom: 150px;
    }

    @media (max-width:355px) {
        margin-bottom: 200px;
    }

    @media (max-width:330px) {
        margin-bottom: 280px;
    }

    @media (max-width:318px) {
        margin-bottom: 340px;
    }

    .container {

        .box {
            display: block;
            margin: 0 auto;
            padding: 20px;
            width: 100%;
            background-color: $sectionFruitsBackgroundColor;
            border-radius: 15px;

            .title {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                h2 {
                    text-align: center;
                    margin: 0;
                    font-weight: 700;
                    font-size: 52px;


                    i {
                        color: #e5ff00;
                        text-shadow: #aaa5a5 0px 0px 10px;

                        @media (max-width:600px) {
                            font-size: 35px;
                        }
                    }

                    span {

                        &:first-of-type {
                            color: #1bec09;
                        }

                        &:nth-of-type(2) {
                            color: #808b14b0;
                        }

                        &:nth-of-type(3) {
                            color: #067e34;
                        }

                        &:nth-of-type(4) {
                            color: #f51a50;
                        }

                        &:nth-of-type(5) {
                            color: #e0d4d4;
                            padding-right: 18px;
                        }

                    }

                    .last {
                        padding: 0 !important;
                    }

                }
            }

            p {
                margin: 0;
                padding: 12px 0;
                text-align: center;
                letter-spacing: 1px;
                font-weight: 500;
                font-size: 18px;

                @media (max-width:340px) {
                    font-style: 12px;
                }


            }
        }
    }
}