.driver {
    height: 360px;
    background-image: url(../img/driver-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media (max-width:970px) {
        height: 260px;
    }

    .h1-background {

        h1 {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translateX(-50%);
            font-size: $h1FontSize;
            color: $h1FontColor;
            text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000,
                -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
            text-transform: uppercase;
            font-weight: 700;

            @include fluid-type-static(70px, $h1FontSize) @media (max-width:970px) {
                top: 30%;
            }

            @media (max-width:970px) {
      top: 45%;
  }
        }
    }


}