.fruits {
    position: relative;
    background-color: $sectionFruitsBackgroundColor;

    .container {

        .fruits-about {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;


            .fruit-photos {
                display: flex;
                flex-direction: column;


                @media (max-width:725px) {
                    width: 100%;
                    align-items: center;

                }

                .photo {
                    height: 280px;
                    width: 320px;
                    position: relative;

                    @media (max-width:1100px) {
                        height: 186.6px;
                        width: 213.3px;
                    }

                    @media (max-width:725px) {
                        height: 280px;
                        width: 320px;
                    }

                    &:hover {

                        p {
                            display: block;
                        }

                        img {
                            filter: blur(5px);
                        }
                    }

                    p {
                        position: absolute;
                        top: 35%;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 26px;
                        color: #ffffff;
                        text-transform: uppercase;
                        font-weight: 700;
                        display: none;

                    }

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                .information {
                    background-color: $informationBackgroundColor;
                    width: 320px;
                    padding: 18px;

                    @media (max-width:1100px) {
                        width: 213.3px;
                    }

                    @media (max-width:725px) {
                        width: 320px;
                    }

                    p {
                        color: $informationFontColor;
                        margin: 0;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 1px;
                        font-size: $informationFontSize;

                        .strawberry {
                            font-size: $informationFirstWordFontSize;
                            color: $strawberryColor;
                        }

                        .blueberry {
                            font-size: $informationFirstWordFontSize;
                            color: $blueberryColor;
                        }

                        .lemon {
                            font-size: $informationFirstWordFontSize;
                            color: $lemonColor;
                        }
                    }
                }
            }
        }
    }

    .image-insert {
        position: relative;
        height: 280px;

        .image-background {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            img {

                @media (max-width:905px) {
                    height: 400px;
                    width: 700px;
                }

                @media (max-width:710px) {
                    margin-top: 70px;
                    height: 300px;
                    width: 500px;
                }

                @media (max-width:505px) {
                    margin-top: 155px;
                    height: 180px;
                    width: 300px;
                }
            }
        }
    }
}