.fruits {
    background-color: $sectionFruitsBackgroundColor;

    .container {

        .fruits-about {
            display: flex;
            flex-wrap: wrap;


            .fruit-photos {
                width: calc(100%/3);



                .photo {
                    height: 280px;
                    width: 320px;
                    position: relative;

                    &:hover {

                        p {
                            display: block;
                        }

                        img {
                            filter: blur(5px);
                        }
                    }

                    p {
                        position: absolute;
                        top: 35%;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 26px;
                        color: #ffffff;
                        text-transform: uppercase;
                        font-weight: 700;
                        display: none;
                    }

                    img {

                        height: 100%;
                        width: 100%;
                    }
                }

                .information {
                    background-color: $informationBackgroundColor;
                    width: 320px;
                    height: 185px;
                    padding: 18px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 1px;
                    max-width: 320px;


                    p {
                        color: $informationFontColor;
                        margin: 0;
                    }
                }

            }
        }
    }
}