.vegetables {
    background-color: $sectionVegetablesBackgroundColor;

    .container {

        .box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            background-color: $informationBackgroundColor;
            margin: 0 88px 80px 88px;

            @media (max-width:560px) {
                background-color: $sectionVegetablesBackgroundColor;
            }

            img {
                margin: 0;
                padding: 12px;
                width: 320px;
                height: 280px;
            }
        }

        .about-vegetables {
            background-color: $informationBackgroundColor;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-radius: 15px;
            padding: 25px;
            margin: 0 -15px 80px -15px;


            @media (max-width:1111px) {
                justify-content: center;
            }

            .about-left {
                padding: 0 15px;
                margin-top: 20px;

                @media (max-width:1111px) {
                    margin-bottom: 10px;

                }

                p {
                    margin: 0;
                    padding: 5px 0;
                    font-size: 18px;
                    letter-spacing: .8px;
                    font-weight: 500;

                    @media (max-width:1111px) {
                        text-align: center;
                    }

                    span {
                        font-size: 18px;
                        letter-spacing: .8px;
                        font-weight: 500;
                    }

                    .fruit {
                        color: $fruitColor;
                    }

                    .vege {
                        color: $vegetablesColor;
                    }
                }
            }

            .about-right {
                width: 50%;
                padding: 0 15px;

                @media (max-width:550px) {
                    text-align: center;
                }

                .statisctic {

                    .name {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 5px;
                        padding: 5px 0;
                        letter-spacing: .8px;
                        font-weight: 500;

                        @media (max-width:550px) {
                            flex-direction: column;
                        }

                    }

                    .bar {
                        height: 6px;
                        background-color: $barBackgroundColor;

                        span {
                            height: 6px;
                            background-color: $barValueBackgroundColor;
                            display: block;
                        }
                    }
                }
            }
        }

        .big-box {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            justify-content: center;

            .small-box {
                width: calc(100%/3);
                padding: 0 30px;
                margin-bottom: 60px;

                @media (max-width:1100px) {
                    width: 50%;
                }

                @media (max-width:740px) {
                    width: 100%;
                }

                .box-bg {
                    padding: 20px 50px;
                    text-align: center;
                    border-top-left-radius: 80px;
                    border-bottom-right-radius: 80px;

                    h2 {
                        color: $smallBoxFontColor;
                        margin: 0;
                        padding: 0 0 10px 0;
                        font-size: 60px;
                        font-weight: 500;
                    }

                    p {
                        color: $smallBoxFontColor;
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        font-weight: 300;
                        letter-spacing: .8px;
                    }
                }

                .first {
                    background-color: $smallBox1BackgroundColor;
                }

                .second {
                    background-color: $smallBox2BackgroundColor;
                }

                .third {
                    background-color: $smallBox3BackgroundColor;
                }
            }
        }
    }
}